body {
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  padding: 16px;
}

.sub-header-container {
  margin-top: 137px;
}

.page-container {
  margin-top: 160px;
  /* text-align: center; */

  justify-content: center;
}

.footer-container {
  /*   position: fixed;
  height: auto;

  bottom: 20px;

  left: 0; */
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px; */
}

.dynamicContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dynamicContentBlock {
  flex-direction: column;
}

@media (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .sub-header-container {
    margin-top: 16px;
  }
}

@media (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .sub-header-container {
    margin-top: 10px;
  }
  .page-container {
    margin-top: 130px;
    text-align: center;
  }
}
